{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LevAI</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
    <div id="container" class="container">
        {% include "partials/header.html" %}
        {% include "partials/sidebar.html" %}
        <div id="content" class="content">
            <h2>Estou as Ordens</h2>
            <div id="chat-history">
                {% for chat in chats %}
                    <div class="chat-item">
                        <h3>{{ chat.id }}</h3>
                        {% for message in messages %}
                        <p><strong>{{ message.role }}:</strong> {{ message.content }}</p>
                        {% endfor %}
                    </div>
                {% empty %}
                    <p>Nenhum chat encontrado.</p>
                {% endfor %} 
            </div>
            {% include "partials/chat_input.html" %}
        </div>
    </div>
</body>
</html>