.container{
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.content h2{
    display: flex;
    margin-top: 100px;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 24px 0;
    border: var(--border-light) 1px solid;
    border-radius: 10px;
    box-shadow: var(--shadow-md);
    color: var(--text-primary);
    background: var(--background-secondary);
    gap: 20px;
}

.searchContainer input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 0; /* Corrigido */
}

.searchContainer textarea {
    width: 100%;
    padding: 10px;
    border: var(--border-color) 1px solid ;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 0; /* Corrigido */
}

.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.buttonContainer button {
    flex: 1;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 8px 0;
}
.buttonContainer button:hover{
    background-color: var(--background-secondary);
}

