{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}?v=124">
<link rel="stylesheet" href="{% static 'css/chat.css' %}?v=124">
{% endblock %}

{% block content %}
<div id="chat-page">
    <h2>Estou as Ordens</h2>
    {% include "partials/chat_input.html" %}
    <div class="chat-history-container">
        {% for chat in chats %}
            <div
                class="chat"
                id="chat-{{ chat.id }}"
                onclick="openChat('{{ chat.id }}')">
                <div class="chat-header">
                    <span class="chat-id">{{ chat.id }}</span>
                    <span class="chat-timestamp">{{ chat.created_at }}</span>
                </div>
                <div class="chat-content">
                    <p>Hello World</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/openChat.js' %}?v=124"></script>
{% endblock %}
