{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Downloader Youtube Videos</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div id="container" class="container">
        {% include "partials/header.html" %}
        {% include "partials/sidebar.html" %}
        <div id="content" class="content">
            <h2>Downloader Youtube Videos</h2>
            <div class="formContainer">
                <form method="post">
                    {% csrf_token %}
                    <label for="url">URL do vídeo:</label>
                    <input type="text" id="url" name="url" required>
                    <br>
                    <label for="file_name">Nome do arquivo:</label>
                    <input type="text" id="file_name" name="file_name" required>
                    <br>
                    <button type="submit">📥 Baixar</button>
                    <a href="/video/convert"> Converter vídeo para Audio</a>
                    <a href="/video/convert-to-mp4"> Converter vídeo para MP4</a>
                </form>
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>