{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="formContainer">
    <form action="" method="post">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="formGroup">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="formGroup">
            <label for="password">Senha</label>
            <div class="passwordContainer">
                <input type="password" id="password" name="password" required>
                <button type="button" id="togglePassword">
                    <i id="eyeIcon" data-lucide="eye-off"></i>
                </button>
            </div>
        </div>
        <button type="submit">Entrar</button>
        <p>Não tem uma conta? <a href="/auth/register">Registrar</a></p>
        <p><a href="/forgot-password">Esqueci minha senha</a></p>
    </form>
</div>
{% endblock %}
