{% extends "base.html" %}
{% load static %}

{% block title %}Cadastro{% endblock %}

{% block body %}
<div class="formContainer">
    <form action="" method="post">
        {% csrf_token %}
        <h1 class="formTitle">Cadastro</h1>
        <div class="formGroup">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="formGroup">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="formGroup">
            <label for="password">Senha</label>
            <div class="passwordContainer">
                <input type="password" id="password" name="password" required>
                <button type="button" id="togglePassword">
                    <img
                        id="eyeIcon"
                        src="{% static 'images/eyesclose.svg' %}"
                        alt="Mostrar Senha"
                    >
                </button>
            </div>
        </div>
        <button type="submit">Registrar</button>
        <p>Ja tem uma conta? <a href="/auth/login">Entrar</a></p>
    </form>
</div>
{% endblock %}
